@{
    ViewData["Title"] = "Chợ Tài Liệu";
    ViewBag.Title = "Chợ Tài Liệu";
    var index = 1;
}

@model List<Book>

<link rel="stylesheet" href="~/css/docmarket.css" asp-append-version="true" />

<div class="container box-docmarket">
    <div class="boxbanner">
        <div class="boxcategory">
            <div class="danhmuctitle">
                <i class="fa-solid fa-bars fa-lg"></i>
                <h2>DANH MỤC SÁCH</h2>
            </div>
            <ul class="listCategory">
                <li><a href="/CategoryBook/tat-ca/trang/1"><i class="bi bi-caret-right"></i> Tất cả</a></li>
                <li><a href="/CategoryBook/ban-hang-va-kinh-doanh/trang/1"><i class="bi bi-caret-right"></i> Bán hàng &
                        Kinh doanh</a></li>
                <li><a href="/CategoryBook/phat-trien-ban-than/trang/1"><i class="bi bi-caret-right"></i> Phát triển bản
                        thân</a></li>
                <li><a href="/CategoryBook/IT-va-lap-trinh/trang/1"><i class="bi bi-caret-right"></i> IT và lập
                        trình</a></li>
                <li><a href="/CategoryBook/ke-toan-thue-tai-chinh/trang/1"><i class="bi bi-caret-right"></i> Kế toán,
                        Thuế & Tài chính</a></li>
                <li><a href="/CategoryBook/kien-truc-va-xay-dung/trang/1"><i class="bi bi-caret-right"></i> Kiến trúc và
                        xây dựng</a></li>
                <li><a href="/CategoryBook/luat-phap-ly/trang/1"><i class="bi bi-caret-right"></i> Luật & Pháp lý</a>
                </li>
                <li><a href="/CategoryBook/Marketing-truyen-thong/trang/1"><i class="bi bi-caret-right"></i> Marketing &
                        Truyền thông</a></li>
                <li><a href="/CategoryBook/thiet-ke/trang/1"><i class="bi bi-caret-right"></i> Thiết kế</a></li>
                <li><a href="/CategoryBook/khac/trang/1"><i class="bi bi-caret-right"></i> Khác</a></li>
            </ul>
        </div>
        <div class="banner">

            <form asp-controller="/Search" asp-action="Index" method="get">
                <div class="search-box">
                    <input type="text" name="SearchName" placeholder="Nhập nội dung cần tìm...">
                    <button type="submit"><ion-icon name="search"></ion-icon></button>
                </div>
            </form>

            <img src="~/img/banner1.png" alt="">
        </div>
    </div>
    <div class="xemnhieu ">
        <div class="boxtitlexemnhieu">
            <i class="fa-solid fa-star fa-2x"></i>
            <h1>TÀI LIỆU HAY</h1>
        </div>
        <div class="slider">
            <ul class="listXemNhieu ">
                @foreach (var book in Model)
                {

                    <li class="itemxemnhieu">
                        <a href="/detaildoc/@book.BookID">
                            <div class="imgDaiDien">
                                <img src="~/storage/thumnail/@book.ImgThumbnail">
                            </div>
                            <div class="infoDoc">
                                <h5>@book.Title</h5>
                                <div class="price">
                                    <h5>Giá: </h5>
                                    <h5 class="priceShow">@book.Price</h5>
                                    <h5>VND</h5>
                                </div>
                                <div class="page-day">
                                    <p><i class="bi bi-download"></i> @book.DownloadFile</p>
                                </div>

                            </div>

                        </a>
                    </li>
                }
            </ul>
            <button class="nav left">&lt;</button>
            <button class="nav right">&gt;</button>
        </div>

    </div>
    <div class="moicapnhat">
        <div class="boxtitlexemnhieu">
            <i class="fa-solid fa-cloud-arrow-up fa-2x"></i>
            <h1>MỚI CẬP NHẬT</h1>
        </div>
        <ul class="listmoicapnhat ">
            @foreach (var book in Model)
            {
                if (index <= 30)
                {
                    <li class="itemmoicapnhat">
                        <a href="/detaildoc/@book.BookID">
                            <div class="imgDaiDien">
                                <img src="~/storage/thumnail/@book.ImgThumbnail">
                            </div>
                            <div class="infoDoc">
                                <h5>@book.Title</h5>
                            </div>
                            <div class="price_day">
                                <p><i class="bi bi-download"></i> <span>@book.DownloadFile</span></p>
                                <div class="boxPrice">
                                    <h5 class="priceShow">@book.Price</h5>
                                    <p>VND</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    index++;
                }
            }
        </ul>


    </div>
    <div class="btnshowall">
        <a class="showall" href="/CategoryBook/trang/1">
            Xem thêm
        </a>
    </div>
</div>

<script src="~/js/docmarket.js" asp-append-version="true"></script>
